doctype html
html
    head
        meta(charset='utf-8') 
        // 태그에 속성을 추가하려면 괄호 안에 넣어준다!
    body
        form(action="/form_receiver" method="post")
            p
                input(type='text' name='title')
            p
                textarea(name='description')
            p
                input(type='submit')