doctype html
html
  head
    meta(charset="utf-8")
    title 오늘 할 일
  body 
    p
      a(href="/users/signup") 회원가입 </br>
      a(href="/users/signin") 로그인 </br>
      a(href="/users/logout") 로그아웃 </br>
      a(href="/tasks") 할일 목록