doctype html
html
  head
    meta(charset="utf-8")
    title 오늘 할 일
  body
    form(action='/tasks' method='post')
      p
        input(type='text' name='title')
      p
        input(type='text' name='detail')
      p
        input(type='submit')
    
    div
      each task in tasks
        a(href="/tasks/"+task._id)
          p= 'title: ' + task.title + ' / detail: ' + task.detail
      
      
        
      