doctype html
html
    head
        meta(charset='utf-8')
        style
            include ../../css/index.css
    body
        div.title
                a(href='/meal') 오늘은 머멍냥

        form(action='/meal/save' method='post')
            p
                input(type='text' name='title' placeholder='title')
            p
                input(type='text' name='brand' list='brand' placeholder='brand')
                datalist(id='brand')   
                    each brand in brands
                        option= brand.name
            p
                textarea(name='description')
            p
                input(type='submit')